<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding Compounding</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <script>
        function test(val) {
            console.log(val);
        }

        async function sendData(val) {
            console.log(typeof(val));
            const socket = new WebSocket('ws://' + location.host + '/echo');
            
            socket.send(val);
        }

        this.send = function (message, callback) {
            this.waitForConnection(function () {
                const socket = new WebSocket('ws://' + location.host + '/echo');
                socket.send(message);
                if (typeof callback !== 'undefined') {
                callback();
                }
            }, 1000);
        };

        this.waitForConnection = function (callback, interval) {
            const socket = new WebSocket('ws://' + location.host + '/echo');
            if (socket.readyState === 1) {
                callback();
            } else {
                var that = this;
                // optional: implement backoff for interval here
                setTimeout(function () {
                    that.waitForConnection(callback, interval);
                }, interval);
            }
        };
    </script>
</head>
<body>
    <div id="compounding-contents">
        <div id="compounding-controls">
            <h1>Understanding Compounding</h1>
            <!--add a slider-->
            <div id="compounding-slider">
                <label for="compounding-slider">Annual rate</label>
                <input type="range" id="compounding-slider" name="compounding-slider" min="0" max="20" value="10" onchange="send(this.value);">
            </div>
            <!--numerical input for initial investment-->
            <div id="compounding-initial-investment">
                <label for="compounding-initial-investment">Initial Investment</label>
                <input type="number" id="compounding-initial-investment" name="compounding-initial-investment" min="0" max="1000000" value="10000" step="1000">
            </div>
            <!--numerical input for monthly contribution-->
            <div id="compounding-monthly-contribution">
                <label for="compounding-monthly-contribution">Monthly Contribution</label>
                <input type="number" id="compounding-monthly-contribution" name="compounding-monthly-contribution" min="0" max="1000000" value="1000" step="100">
            </div>

        </div>

        <div id="compounding-graphing">
            <h1>Graphing</h1>
            <canvas id="myChart"></canvas>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                  label: 'amount accumulated',
                  data: {{data}},
                  borderWidth: 1
                }, {
                  label: 'amount accumulated',
                  data: {{data}},
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>

        <script>

            }
        </script>



        </div>
        <div>
            

    </div>
    
</body>
</html>