<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investing Cook Book</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  
  <body style ="background-color: lightblue;">
    {%include 'navbar.html'%}
    <br>

    <div class="container" style=" align-items: center; justify-content: center;">
        <img src="../static/img/skyline.webp" >
        <div class="centered" style="display: flex; align-items: center; justify-content: center;">
            <h1 class="logo">Investing Cook Book</h1>
            <img src="../static/img/icon_white.png" class="logo" width="100" height="100" >  
        </div>
        <div class="bottomcentered" style="display: flex; align-items: center; justify-content: center;">
            <h1 class="slogan"><i> Don't just save, Invest for the future.</i></h1>
        </div>
    </div>
    <div class="container" style=" align-items: center; justify-content: center;">
        <div class="row">
            <div id="col1" class="column left" style="color: black;">
                <h1 style ="background-color: lightblue;">
                    <a href="/tutorials">Tutorials</a>
                </h1>
                <p style ="background-color: lightblue;">Learn how pros invest with interactive examples</p>
            </div>
            <div id="col2" class="column middle" style="color: black;" >
                <h1 style ="background-color: lightblue;">
                    <a href="/mini-games">Mini-Games</a>
                </h1>
                <p style ="background-color: lightblue;">Apply your learning to the world of investing</p>
            </div>
            <div id="col3" class="column right" style="color: black;" >
            <h1 style ="background-color: lightblue;">
                <a href="/about-us">About Us</a>
            </h1>
            <p style ="background-color: lightblue;">Learn how we plan on changing the world of retail investing</p>
        </div>
        </div>
    </div>

    


</body>
</html>