#compounding-contents {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    gap: 1%;
}
#compounding-controls {
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    border: #000000;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#compounding-graphing {
    width: 80%;
    height: 100%;
    background-color: #ffffff;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}